

.login {
    background-image: url("/static/groceries.JPG");
    background-size: 100%;
    background-color: #76797b63;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .favorites {
    background-color: #76797b63;
  }

  .welcome, .card-deck, .card, .card-body, .checkout, .account {
    background-color: #212529;
  }

  .error {
    color: red;
  }

  .favorites-card-deck {
    background-color: tomato;
  }
