

.login {
    background-image: url("/static/groceries.JPG");
    background-size: 100%;
    background-color: #76797b63;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .favorites {
    background-color: #76797b63;
  }

  .card-deck, .card, .card-body {
    background-color: #212529;

  }

  .add_cart {
    color: blue;
    font-size: 40px;
  }

  .welcome, .checkout, .account {
    background-image: url("/static/grocery_items.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .error {
    color: red;
  }

  .table_row {
    background-color: red;
    color: white;
    font-family: sans-serif;
  }

  .favorites-card-deck {
    background-color: tomato;
  }
